<a href="https://colab.research.google.com/github/piyushrockzz/ExcelR-Projects-/blob/main/Hypothesis_testing_sol4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from scipy import stats as stats
from scipy.stats import chi2_contingency
from scipy.stats import chi2

In [3]:
data=pd.read_csv('/content/Costomer+OrderForm.csv')
data.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [11]:
print(data['Phillippines'].value_counts(),data['Indonesia'].value_counts(),data['Malta'].value_counts(),data['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [8]:
observed=([[271,267,269,280],[29,33,31,20]])

In [9]:
# Perform chi-square test of independence
chi2, p, dof, expected = chi2_contingency(observed)

In [10]:
# Define the significance level
alpha = 0.05

In [13]:
print("Chi-square statistic:", chi2)
print("p-value:", p)

Chi-square statistic: 3.858960685820355
p-value: 0.2771020991233135

In [ ]:
#P>alpha There is no significance to suggest a difference in the defective percentage across centers