<a href="https://colab.research.google.com/github/piyushrockzz/ExcelR-Projects-/blob/main/Q20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/Cars.csv')

In [4]:
df.head()

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [5]:
# a. P(MPG>38)
mpg_gt_38= len(df[df['MPG'] >30])

In [6]:
print(mpg_gt_38)

54

In [7]:
total_cars = len(df['MPG'])

In [8]:
print(total_cars)

81

In [10]:
prob_gt_38= (mpg_gt_38)/(total_cars)

In [11]:
print(prob_gt_38)

0.6666666666666666

In [ ]:
#Probability for getting MPG greater than 38 is 0.66 which is 66 percent

In [13]:
#(MPG<40)
mpg_lt_40= len(df[df['MPG']<40])
total_cars=len(df['MPG'])

In [15]:
prob_lt_40=(mpg_lt_40/total_cars)
print(prob_lt_40)

0.7530864197530864

In [ ]:
#probability for getting MPG less than 40 is 0.7530 ,75.30 percent

In [ ]:
#(20<MPG<50)

In [17]:
mpg_gt_20_lt_50=len(df[df['MPG']>20]) & len(df['MPG']<50)
print(mpg_gt_20_lt_50)

64

In [18]:
total_MPG=len(df['MPG'])

In [19]:
prob_mpg_gt20_lt_50= (mpg_gt_20_lt_50/total_MPG)
print(prob_mpg_gt20_lt_50)

0.7901234567901234

In [ ]:
#probability for getting MPG greater than 20 and less than 50 is 79 percent.