<a href="https://colab.research.google.com/github/piyushrockzz/ExcelR-Projects-/blob/main/Question_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
dataset=pd.read_csv('/content/Q7 (1).csv')
import numpy as np

In [5]:
dataset.head()

          Unnamed: 0  Points  Score  Weigh
0          Mazda RX4    3.90  2.620  16.46
1      Mazda RX4 Wag    3.90  2.875  17.02
2         Datsun 710    3.85  2.320  18.61
3     Hornet 4 Drive    3.08  3.215  19.44
4  Hornet Sportabout    3.15  3.440  17.02

In [17]:
df=dataset.rename(columns={'Unnamed: 0': 'Cars'})

In [19]:
points_mean=mean(df.Points)
print(points_mean)

3.5965625

In [20]:
score_mean=mean(df.Score)
print(score_mean)

3.2172500000000004

In [22]:
weigh_mean=mean(df.Weigh)
print(weigh_mean)

17.848750000000003

In [29]:
from numpy import median
#calculate median
points_median= median(df.Points)
score_median= median(df.Score)
weigh_median=median(df.Weigh)

In [30]:
print(points_median,score_median,weigh_median)

3.6950000000000003 3.325 17.71

In [38]:
from pandas._libs.hashtable import mode

In [40]:
import statistics

In [42]:
points_mode=statistics.mode(df.Points)
score_mode=statistics.mode(df.Score)
weigh_mode=statistics.mode(df.Weigh)

In [43]:
print(points_mode,score_mode,weigh_mode)

3.92 3.44 17.02

In [45]:
points_variance = statistics.variance(df.Points)
score_variance = statistics.variance(df.Score)
weigh_variance = statistics.variance(df.Weigh)

In [46]:
print(points_variance,score_variance,weigh_variance)

0.2858813508064516 0.9573789677419355 3.1931661290322575

In [47]:
# Calculate standard deviation
points_std_dev = statistics.stdev(df.Points)
score_std_dev = statistics.stdev(df.Score)
weigh_std_dev = statistics.stdev(df.Weigh)

In [48]:
print(points_std_dev,score_std_dev,weigh_std_dev)

0.5346787360709715 0.9784574429896967 1.786943236096843

In [50]:
#Range calcutate 
points_range = max(df.Points) - min(df.Points)
score_range = max(df.Score) - min(df.Score)
weigh_range = max(df.Weigh) - min(df.Weigh)
print(points_range,score_range,weigh_range)

2.17 3.9110000000000005 8.399999999999999